@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
body {
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  color: #333;
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  grid-template-rows: auto;
}

p {
  font-size: 14px;
  color: #333;
}

.c1 {
  grid-template-columns: repeat(1, 1fr);
}

.r1 {
  grid-template-rows: repeat(1, 1fr);
}

.c2 {
  grid-template-columns: repeat(2, 1fr);
}

.r2 {
  grid-template-rows: repeat(2, 1fr);
}

.c3 {
  grid-template-columns: repeat(3, 1fr);
}

.r3 {
  grid-template-rows: repeat(3, 1fr);
}

.c4 {
  grid-template-columns: repeat(4, 1fr);
}

.r4 {
  grid-template-rows: repeat(4, 1fr);
}

.c5 {
  grid-template-columns: repeat(5, 1fr);
}

.r5 {
  grid-template-rows: repeat(5, 1fr);
}

.grid {
  display: grid;
  grid-gap: 20px;
}

.padding {
  padding: 20px;
  box-sizing: border-box;
}

.center-self {
  justify-self: center;
  align-self: center;
}

.hide {
  display: none;
}

.btn {
  padding: 20px;
}

.type {
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  text-transform: uppercase;
  text-align: center;
}

.weak,
.effective,
.noDamage {
  grid-template-rows: 40px;
}

.weak p,
.effective p,
.noDamage p {
  margin: 0px;
}

.normal {
  background: #e3cec3;
}

.fire {
  background: #d94214;
}

.water {
  background: #1277c9;
  color: white;
}

.electric {
  background: #e6d435;
}

.grass {
  background: #42ad21;
}

.ice {
  background: #5acedb;
}

.fighting {
  background: #c96b30;
}

.poison {
  background: #9426bf;
  color: white;
}

.ground {
  background: #d1ba84;
}

.flying {
  background: #8fb7c4;
}

.psychic {
  background: #cc8bbf;
}

.bug {
  background: #9cc280;
}

.rock {
  background: #9c7b5c;
}

.ghost {
  background: #8e739c;
}

.dragon {
  background: #634899;
  color: white;
}

.dark {
  background: #544b48;
  color: white;
}

.steel {
  background: #b0b0b0;
}

.fairy {
  background: #ebc9f0;
}

@media (max-width: 420px) {
  .c5 {
    grid-template-columns: repeat(3, 1fr);
  }
  .c3 {
    grid-template-columns: repeat(2, 1fr);
  }
}
